# Auto detect text files and perform LF normalization
* text=auto

# Change repository language
*.js linguist-detectable=false
*.css linguist-detectable=false
*.twig linguist-detectable=false
*.html linguist-detectable=false
*.scss linguist-detectable=false
