.profile-settings {
    label {
        font-weight: 700;
    }

    .form-control {
        background: white;
    }

    .form-switch {
        label {
            font-weight: unset;
        }
    }
}
