.breadcrumb {
    font-size: 18px;
    padding: 1rem;
    margin-bottom: 0px;
    background: 0 0;
    list-style: none;
    border-radius: 0;

    li {
        position: relative;
        display: inline-block;
        max-width: 100%;
    }

    li+li:before {
        content: "/\00a0";
        padding: 0 5px;
        color: #ccc;
    }
}
