@font-face {
    font-family: Courgette-Regular;
    src: url('/fonts/Courgette-Regular.ttf');
}

@font-face {
    font-family: 'Hack';
    src: url('/fonts/hack-regular.woff2?sha=3114f1256') format('woff2'), url('/fonts/hack-regular.woff?sha=3114f1256') format('woff');
    font-weight: 400;
    font-style: normal;
}
